<div class="section animated fadeIn fast">
    <h2>This page is about heros of DC comics</h2>
    <hr>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat nesciunt totam, inventore vel placeat obcaecati, sapiente libero mollitia labore eos maxime blanditiis harum nihil temporibus. Itaque provident obcaecati porro aliquam!
    </p>
</div>