<h1>{{hero.nombre | uppercase}}</h1>
<hr>
<blockquote>
    <h4>Fecha de aparición {{hero.aparicion | date:'y'}}</h4>
</blockquote>
<div class="row">
    <div class="col s4">
        <img class="center-align" width="400" src="{{hero.img}}" alt="{{hero.nombre}}" srcset="{{hero.img}}">
        <br>
        <a style="width: 100%;" (click)="returnToHeros()" class="btn blue white-text">Regresar</a>
    </div>
    <div class="col s8">
        <hr>
        <p>{{hero.bio}}</p>
        <div>
            <img class="responsive-img" width="100" src="{{getUrlHome()}}" alt="{{hero.casa}}" srcset="">
        </div>
    </div>
</div>
