<div class="row animated fadeIn fast">
    <h1>Heros</h1>
    <div class="row">
        <div class="col s4" *ngFor='let hero of heros; let i=index'>
            <div class="card">
                <div class="card-image">
                    <img src={{hero.img}}>
                    <span class="card-title">{{hero.nombre}}</span>
                </div>
                <div class="card-content">
                    <p>{{hero.bio}}</p>
                    <br>
                    <p>{{hero.aparicion}}</p>
                </div>
                <div class="card-action">
                    <!-- <a class='btn blue white-text' [routerLink]="['/hero', i]" >{{hero.casa}}</a> -->
                    <button class="btn blue white-text" (click)='seeHero(i)'>
                        {{hero.casa}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
