<div class="row animated fadeIn fast">
    <h1>Heros</h1>
    <div class="row">
      <app-card-hero (heroSelected)="seeHero($event)" [hero]="hero" *ngFor='let hero of Heros;'></app-card-hero>
    </div>
</div>
