<div class="col s4" >
  <div class="card">
    <div class="card-image">
      <img src={{hero.img}} alt="Image hero">
      <span class="card-title">{{hero.nombre}}</span>
    </div>
    <div class="card-content">
      <p>{{hero.bio}}</p>
      <br>
      <p>{{hero.aparicion}}</p>
    </div>
    <div class="card-action">
      <!-- <a class='btn blue white-text' [routerLink]="['/hero', i]" >{{hero.casa}}</a> -->
      <button class="btn blue white-text" (click)='seeHero()'>
        {{hero.casa}}
      </button>
    </div>
  </div>
</div>
