<nav>
    <div class="nav-wrapper blue">
        <a href="#" class="brand-logo left">
            <img src="assets/img/A-64.png" alt="" srcset="">
        </a>
        <div style="width: 44%;position: absolute;margin: 0 3.5%;height: inherit;">
            <div class="input-field">
                <input id="search" type="search" required #searchHero (search)="searchHeros(searchHero.value)">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li routerLinkActive='active'><a [routerLink]="['home']">Home</a></li>
            <li routerLinkActive='active'><a [routerLink]="['about']">About</a></li>
            <li routerLinkActive='active'><a [routerLink]="['heros']">Heros</a></li>
        </ul>
    </div>
</nav>